<section class="hero is-fullheight custom-bg">
    <div class="hero-body is-flex-direction-column is-align-items-flex-start limit-w">
        <div class="card has-background-grey">
            <p class="is-size-4 p-2"><strong class="has-text-white">Posts By {{username}}:</strong></p>
        </div>
        {{#each posts as |post|}}
        <div class="card stretch mt-4">
            <div class="card-content post">
                <p class="title is-size-4 has-text-info">{{this.title}}</p>
                <div class="level">
                    <div class="level-left">
                        <p class="level-item is-size-6 has-text-weight-semibold">Posted by: {{this.user.username}}</p>
                        <p class="level-item is-size-6">//</p>
                        <p class="level-item is-size-6 has-text-weight-semibold">{{formatDate this.createdAt}}</p>
                    </div>
                </div>
                <hr>
                <div class="container">
                    <div class="content">
                        <span class="overflow has-text-grey">{{this.body}}</span>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <a class="card-footer-item" href="/post/{{this.id}}">View</a>
                <a class="card-footer-item editBtn" data-postID="{{this.id}}">Edit</a>
                <a class="card-footer-item has-text-danger deleteBtn" data-postID="{{this.id}}">Delete</a>
            </div>
        </div>
        {{/each}}
    </div>
</section>

<script src="/js/profile.js"></script>
